body{
    margin: 0;
}
.header{
height: 82px;
width: 100%;
background-color: rgb(0, 0, 0);
box-shadow: 2px 2px 5px 2px rgb(142, 16, 17);
}
.header img {
    width: 100px;
}
.logo {
    display: flex;
    justify-content: center;
}
.index{
    width: 100%;
    height: 40px;
    background-color: rgb(27, 25, 25);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.index ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    
}
.index ul li {
    display: flex;
    margin-left: 150px;
    
}
.index ul li a {
    text-decoration:none ;
    color: white;
}
/* ANIME */
.page {
    /* height: 100vh; */
    background-color: black;
    border: 10px solid rgb(142, 16, 17);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    flex-direction: column;
    text-align: center;
}
.hist{
    font-size: 30px;
}
.hist img {
    border: 4px solid rgb(142, 16, 17);
    width: 800px;
}