/* HEADER  */
body{
    margin: 0;
}
.header{
height: 82px;
width: 100%;
background-color: rgb(0, 0, 0);
box-shadow: 2px 2px 5px 2px rgb(142, 16, 17);
}
.header img {
    width: 100px;
}
.logo {
    display: flex;
    justify-content: center;
}
.index{
    width: 100%;
    height: 40px;
    background-color: rgb(27, 25, 25);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.index ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    
}
.index ul li {
    display: flex;
    margin-left: 150px;
    
}
.index ul li a {
    text-decoration:none ;
    color: white;
}

/* HOME */
.page {
    width: 100%;
    height: 100vh;
    background-image: url(images/backhome.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan {
    width: 500px;
    color: white;
    font-size: 60px;
    text-shadow: 5px 5px black;
}
/* HISTORIA */
.historia{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hist_titulo {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
}
.aa{
    display: flex;
    flex-direction: row;
}
.card1 {
height: 500px;
width: 300px;
background-color: white;
margin-left: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid rgb(142, 16, 17);
border-radius: 10px;
flex-direction: column;
font-family: 'Public Sans', sans-serif;
}
.card2 {
height: 500px;
width: 300px;
background-color: white;
margin-left: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid rgb(142, 16, 17);
border-radius: 10px;
flex-direction: column;
font-family: 'Public Sans', sans-serif;

}
.card3 {
height: 500px;
width: 300px;
background-color: white;
margin-left: 20px;
display: flex;
justify-content: center;
border: 2px solid rgb(142, 16, 17);
border-radius: 10px;
flex-direction: column;
align-items: center;
font-family: 'Public Sans', sans-serif;
}
.cont1{
    /* height: 400px;
    width: 300px;
    /* background-image: url(images/black.jpg); */
    /* background-color: black; */
}
.cont1 img {
    /* height: 350px; */
    width: 300px;
}
.cont2 img {
    /* height: 350px; */
    width: 300px;
}
.cont3 img {
    /* height: 350px; */
    width: 300px;
}